html {
  box-sizing: border-box;
}

body {
  @include ma-pa-reset;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: $white-color;
  // letter-spacing: 0.05em;
  background-color: $bgc-color;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $white-color;
}

.section-title {
  @include ma-pa-reset;
  text-align: center;
  font-family: "YesevaOne", "Georgia", serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: $white-color;
}
