$white-color: #ffffff;
$black-color: #151313;
// $text-color: #0d3351;
$active-color: #a07b50;
// $main-color: #00a2dd;
$bgc-color: #1f1c1d;
// $bgc-color-header: #f3f3f3;
$mobile-width: 320px;
$tablet-width: 576px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
